<h1>Contact</h1>
<p>
   There are many different ways you could contact me. One way is for you to 
   <a href="mailto:fiorantefrank@gmail.com?" target="_top">shoot me an Email</a>,
   but if email is not preferred you could also call or text me at: 
   <strong>(773) 248 3286</strong>.
</p>
