<h1>Products</h1>

<table style="width:100%; border:1px solid black">
    <tr>
        <th style="border:1px solid black">Sandwich</th>
        <th style="border:1px solid black">Price</th>
        <th style="border:1px solid black">Calories</th>
    </tr>
    <tr>
        <td style="border:1px solid black">Chicken Sandwich</td>
        <td style="border:1px solid black">$5.00</td>
        <td style="border:1px solid black">536</td>
    </tr>
    <tr>
        <td style="border:1px solid black">Duck Sandwich</td>
        <td style="border:1px solid black">$4.00</td>
        <td style="border:1px solid black">680</td>
    </tr>
    <tr>
        <td style="border:1px solid black">Beef Sandwich</td>
        <td style="border:1px solid black">$7.00</td>
        <td style="border:1px solid black">765</td>
    </tr>
    <tr>
        <td style="border:1px solid black">Grilled Cheese</td>
        <td style="border:1px solid black">$2.00</td>
        <td style="border:1px solid black">843</td>
    </tr>
</table>

<br>
<%= link_to 'Back', reports_listing_path %>
