<h1>Sales</h1>

<table style="width:100%; border:1px solid black">
    <tr>
        <th style="border:1px solid black">Customer</th>
        <th style="border:1px solid black">Product</th>
        <th style="border:1px solid black">Sale Price</th>
        <th style="border:1px solid black">Sale Date</th>
    </tr>
    <tr>
        <td style="border:1px solid black">Frank Fiorante</th>
        <td style="border:1px solid black">Chicken Sandwich</td>
        <td style="border:1px solid black">$5.00</td>
        <td style="border:1px solid black">05/08/2017</td>
    </tr>
    <tr>
        <td style="border:1px solid black">Brandon Martin</th>
        <td style="border:1px solid black">Duck Sandwich</td>
        <td style="border:1px solid black">$4.00</td>
        <td style="border:1px solid black">05/09/2017</td>
    </tr>
    <tr>
        <td style="border:1px solid black">Joe Black</th>
        <td style="border:1px solid black">Beef Sandwich</td>
        <td style="border:1px solid black">$7.00</td>
        <td style="border:1px solid black">05/15/2017</td>
    </tr>
    <tr>
        <td style="border:1px solid black">Jack Pember</th>
        <td style="border:1px solid black">Grilled Cheese</td>
        <td style="border:1px solid black">$2.00</td>
        <td style="border:1px solid black">05/26/2017</td>
    </tr>
</table>

<br>
<%= link_to 'Back', reports_listing_path %>
