<hr>
<div id="footer" style="background‐color:#D2B48C;">
<center> <%= link_to 'Privacy', home_privacy_path %> &nbsp;
<%= link_to 'Help', home_help_path %> &nbsp; </center>
<h4 align="center"> Chicago Sandwiches • 1234 Any Street Chicago Illinois 60610 • 
(708)-248-3286</h4>
</div>